In [50]:
import pymysql

try:
    con = pymysql.connect(host='127.0.0.1', user='root', password='1234',  
                          port=4000, db='classicmodels', charset='utf8')
    cur = con.cursor()
except Exception as e:
    print (e)

In [51]:
cur.execute('show tables')

8

In [52]:
cur.fetchall()

(('customers',),
 ('employees',),
 ('offices',),
 ('orderdetails',),
 ('orders',),
 ('payments',),
 ('productlines',),
 ('products',))

In [53]:
sql = 'select * from {}'
import pandas as pd

In [54]:
locals()['a']= 10

In [55]:
for q in cur.fetchall() :
    locals()[q[0]] = pd.read_sql_query(sql.format(q[0]), con=con)

In [56]:
# 참고사항
text = "a = pd.read_sql_query('select * from orders', con = con)"

In [57]:
exec(text)

c:\Users\Playdata\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [58]:
a

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber
0,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363
1,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128
2,10102,2003-01-10,2003-01-18,2003-01-14,Shipped,None,181
3,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,None,121
4,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,None,141
...,...,...,...,...,...,...,...
321,10421,2005-05-29,2005-06-06,None,In Process,Custom shipping instructions were sent to ware...,124
322,10422,2005-05-30,2005-06-11,None,In Process,None,157
323,10423,2005-05-30,2005-06-05,None,In Process,None,314
324,10424,2005-05-31,2005-06-08,None,In Process,None,141
325,10425,2005-05-31,2005-06-07,None,In Process,None,119

In [59]:
# 문제1
cur.execute("select customerNumber from customers")
cur.fetchall()

((125,),
 (169,),
 (206,),
 (223,),
 (237,),
 (247,),
 (273,),
 (293,),
 (303,),
 (307,),
 (335,),
 (348,),
 (356,),
 (361,),
 (369,),
 (409,),
 (443,),
 (459,),
 (465,),
 (477,),
 (480,),
 (481,),
 (124,),
 (129,),
 (161,),
 (321,),
 (450,),
 (487,),
 (112,),
 (205,),
 (219,),
 (239,),
 (347,),
 (475,),
 (173,),
 (204,),
 (320,),
 (339,),
 (379,),
 (495,),
 (157,),
 (198,),
 (286,),
 (362,),
 (363,),
 (462,),
 (151,),
 (168,),
 (181,),
 (233,),
 (424,),
 (455,),
 (456,),
 (131,),
 (175,),
 (202,),
 (260,),
 (319,),
 (328,),
 (447,),
 (486,),
 (146,),
 (172,),
 (250,),
 (350,),
 (353,),
 (406,),
 (103,),
 (119,),
 (141,),
 (171,),
 (209,),
 (242,),
 (256,),
 (145,),
 (227,),
 (249,),
 (278,),
 (314,),
 (381,),
 (382,),
 (386,),
 (452,),
 (473,),
 (186,),
 (187,),
 (201,),
 (240,),
 (311,),
 (324,),
 (334,),
 (489,),
 (121,),
 (128,),
 (144,),
 (167,),
 (189,),
 (259,),
 (299,),
 (415,),
 (448,),
 (114,),
 (276,),
 (282,),
 (333,),
 (471,),
 (166,),
 (323,),
 (357,),
 (412,),
 (496,),
 (148,),
 (177,),
 (211,),
 (385,),
 (398,),
 (216,),
 (298,),
 (344,),
 (376,),
 (458,),
 (484,))

In [60]:
# pandas ver.
customers['customerNumber'].sort_values()

NameError: name 'customers' is not defined

In [ ]:
# 문제2
pd.read_sql_query("SELECT SUM(amount),COUNT(checknumber) FROM payments", con=con)

In [ ]:
payments['amount'].sum(), payments['checkNumber'].size

In [ ]:
# 문제3
products[['productName',"productLine"]]

In [ ]:
# 문제4
products['productCode'].size

In [ ]:
# 문제5
pd.read_sql_query("select distinct(ordernumber) from orderdetails",con=con)
orderdetails['orderNumber'].unique()
orderdetails['orderNumber'].drop_duplicates()

In [ ]:
# 문제6 where query
orderdetails = pd.read_sql_query('select * from orderdetails', con =con)
orderdetails[orderdetails['priceEach'].apply(lambda x : 30 <= x <= 50)]
orderdetails.query('priceEach >= 30 and priceEach <= 50')
# orderdetails.where((orderdetails['priceEach'] >= 30) & (orderdetails['priceEach'] <= 50) ).dropna() # 결측치 삭제

In [ ]:
# 문제7
orderdetails[orderdetails['priceEach'].apply(lambda x : x >= 30)]
orderdetails.where((orderdetails['priceEach'] >= 30)).dropna()

In [ ]:
# 문제8
cumtomers = pd.read_sql_query('select country, customernumber from customers' ,con = con)
cumtomers.loc[cumtomers['country'].apply(lambda x : x == 'USA' or x == 'Canada'), 'customernumber']
# 강사님
customers[cumtomers['country'].isin(['USA','CANADA'])]

In [ ]:
# 문제9
customers[customers['country'].notin(['USA', 'Canada'])]
customers.loc[customers['country'].apply(lambda x : x != 'USA' and x != 'Canada'), 'customerNumber']

In [ ]:
# 문제10
employees = pd.read_sql_query('select reportsTo, employeeNumber from employees', con = con)
employees.loc[employees['reportsTo'].isnull(), 'employeeNumber']

In [ ]:
# 문제11
customers = pd.read_sql_query('select addresline1 from customers', con = con)
customers[customers['addressline1'].str.find('St') > -1]

In [ ]:
# 문제12 GROUP BY query
customers = pd.read_sql_query('select * from customers', con = con)
costomers.groupby(['country', 'city'])['customerId'].count()

In [ ]:
# 문제13 JOIN query
customers = pd.read_sql_query('select * from customers', con = con)
orders = pd.read_sql_query('select * from orders', con = con)
pd.merge(cutomers,order,left_on = customerNumber, right_on = customerNumber,how=left).loc[:, ['orderNumber', 'country']]

In [ ]:
# 문제14
df = pd.merge(cutomers,order,left_on = customerNumber, right_on = customerNumber,how=left)
df.loc[df['country'].apply(lambda x : x == 'USA'), ['orderNumber', 'country']]

In [ ]:
# 문제15
df = pd.merge(cutomers,order,left_on = customerNumber, right_on = customerNumber,how='inner')
df.loc[df['country'].apply(lambda x : x == 'USA'), ['customerNumber', 'country']]