In [3]:
pip install pymysql #파이썬에서 SQL 사용할 수 있게 도와줌

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ---------------------------------------- 43.8/43.8 kB 2.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pymysql

In [9]:
try :                     #서버IP,ID/PW 입력, 다음 접속 시 db를 play로 인식
    con = pymysql.connect(host='192.168.56.101', user='encore', password='123', charset='utf8', db='play')
    cur = con.cursor() #커서를 설정?
except Exception as e :
    print("error->", e)

In [10]:
# cur.execute("create database play")

ProgrammingError: (1007, "Can't create database 'play'; database exists")

In [19]:
import os 
os.getcwd()

'c:\\Users\\Playdata\\Desktop\\bootcamp'

In [22]:
with open("./dataset3.csv", "r", encoding='utf-8') as f:
    for line in f:
        print(line)
        break

"InvoiceNo";"StockCode";"Description";"Quantity";"UnitPrice";"CustomerID";"Country";"InvoiceDate"

In [28]:
sql = "INSERT INTO class3 VALUES(%s, %s, %s, %s, %s, %s, %s, %s)"

In [30]:
with open("./dataset3.csv", "r", encoding='utf-8') as f:
    for idx, line in enumerate(f):
        if idx > 0 :
            cur.execute(sql, [x.replace("'","") for x in line.split(";")])

con.commit()

In [31]:
[x.replace("'","") for x in line.split(";")]

['546084',
 '"20724"',
 '"RED RETROSPOT CHARLOTTE BAG"',
 '10',
 '0.85',
 '14112',
 '"United Kingdom"',
 '"2011-09-03"\n']

In [33]:
cur.execute("use play") #play란 데이터베이스를 사용하겠다

0

In [35]:
cur.execute("drop table class3") # 테이블 삭제

OperationalError: (1051, "Unknown table 'class3'")

In [36]:
cur.execute("""CREATE TABLE `class3` (
	`InvoiceNo` VARCHAR(30), 
 `StockCode` VARCHAR(30),
 `Description` VARCHAR(255),
 `Quantity` INT(3),
 `UnitPrice` FLOAT(5,2),
 	`CustomerID` VARCHAR(30),
 `Country` VARCHAR(45),
 `InvoiceDate` DATE,
 PRIMARY KEY(`InvoiceNo`, `StockCode`)
)
""")

0

In [37]:
from tqdm import tqdm

In [39]:
cur.execute("""CREATE TABLE `newjeans` (
	`InvoiceNo` VARCHAR(30), 
 `StockCode` VARCHAR(30),
 `Description` VARCHAR(255),
 `Quantity` INT(3),
 `UnitPrice` FLOAT(5,2),
 	`CustomerID` VARCHAR(30),
 `Country` VARCHAR(45),
 `InvoiceDate` DATE)
""")

0

In [41]:
sql = "INSERT INTO newjeans VALUES(%s, %s, %s,%s,%s,%s,%s,%s)"
with open("./dataset3.csv", "r", encoding='utf-8') as f:
    for idx, line in tqdm(enumerate(f)):
        if idx != 0:
            cur.execute(sql, [x.replace('"', "") for x in line.split(";")])
con.commit()

39492it [00:14, 2816.11it/s]

In [43]:
cur.execute("select count(*) from newjeans") # newjeans 데이터의 갯수를 세어줘

1

In [44]:
cur.fetchall()

((39491,),)